<div class="container">
    <div class="filters">
      <a (click)="filter = 'Heads'" class="button ">Heads</a>
      <a (click)="filter = 'Arms'" class="button">Arms</a>
      <a (click)="filter = 'Torsos'" class="button">Torsos</a>
      <a (click)="filter = 'Bases'" class="button">Bases</a>
      <a (click)="filter = ''" class="button">All</a>
    </div>
  
    <ul class="products">
      <li class="product-item" *ngFor="let currentProduct of getFilteredProdcuts()">
        <bot-product-details [product] = "currentProduct"></bot-product-details>
      </li>
    </ul>
  </div>