<div class="container">
    <div class="hero"></div>
  
    <div class="promoted">
      <img src="../../assets/images/robot-parts/arm-propeller.png" alt="Friendly Robot Head" />
      <div class="promo-text">
        <div class="promo-main-text">DISPELL THE ROBOT APOCALYPSE MYTH</div>
        <div class="promo-sub-text cta">
          <div>SAVE 20% ON OUR FRIENDLIEST</div>
          <div>ROBOT HEADS</div>
        </div>
      </div>
      <img src="https://firebasestorage.googleapis.com/v0/b/rathletes-cd51c.appspot.com/o/head-big-eye.png?alt=media&token=000fc719-71ae-4776-96b9-7283aa183ea5" alt="Big Eye Head" />
    </div>
  
    <ul class="robot-parts-cta">
      <li>
        <a class="part">
          <img src="https://firebasestorage.googleapis.com/v0/b/rathletes-cd51c.appspot.com/o/head-surveillance.png?alt=media&token=e9ba9dd3-af47-40da-8a1c-a5125d59a94b" alt="Robot Heads" />
          <div>ROBOT HEADS</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="https://firebasestorage.googleapis.com/v0/b/rathletes-cd51c.appspot.com/o/arm-dual-claw.png?alt=media&token=3ac9f0e2-a707-45c3-bfa2-b22c42809b40" alt="Robot Arms" />
          <div>ROBOT ARMS</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="https://firebasestorage.googleapis.com/v0/b/rathletes-cd51c.appspot.com/o/torso-gauged.png?alt=media&token=91895a91-0223-4de2-a402-40c5a56e2e7f" alt="Robot Torsos" />
          <div>ROBOT TORSOS</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="https://firebasestorage.googleapis.com/v0/b/rathletes-cd51c.appspot.com/o/base-spring.png?alt=media&token=fded5015-16cb-435e-a854-4dd71f971b93" alt="Robot Bases" />
          <div>ROBOT BASES</div>
        </a>
      </li>
    </ul>
  
    <div class="white-paper">
      <img src="" alt="Robot Apocalyse" />
      <div class="text">
        <div>
          <div class="header-text cta">Will they kill us all?</div>
          <div class="sub-text">
            <p>10 Myths About the</p>
            <p>Robot Apocalyse</p>
          </div>
        </div>
        <div class="large-text">WHITE PAPER</div>
        <a href="" class="learn-more">Learn More</a>
      </div>
    </div>
  </div>